th, td {
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5;}

.gray {
  background-color: #F5F5F5;
  padding: 10px;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #99BBFF;
}

.posttitle {
  valign: center; 
  font-size:20px;
  padding: 10px;
}

.feed_num {
  border: 1px solid black;
}

.text_center{
  text-align: center;
}

.cate_tag{
  width: 100px;
  font-size:20px;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
}